.bg-custom{
	background-color: #1a1919; :important;
	transition: 0.3s;
	color: #black; :important;
	
}
.bg-custom:hover{
	background-color: #F0544F :important;
	color: #fff :important;
}
.bg-custom-sm{
	background-color: #black;:important;
	transition: 0.3s;
	color: #fff :important;
}
.bg-custom-sm:hover{
	background-color: #F0544F :important;
	color: #fff :important;
}

.navbar{
	width: 100%;
}
.link-navbar{
	color: black;
	transition: 0.3s;
}
.link-navbar: hover{
	color: #F0544F;
}